---
import { apiBlogUrl } from "../api";
import type { OriginTypes } from "../api/types";

const response = await fetch(apiBlogUrl.blogs,{method: "GET", headers: {"Content-Type":"application/json"}});

const json: OriginTypes = await response.json();

const {id, name, description, published, updated, url, posts, pages, locale } = json;

---

<h3>Blog details</h3>
<ul class="info" role="list">
    <li><strong>Id</strong>: {id}</li>
    <li><strong>Name</strong>: {name}</li>
    <li><strong>Description</strong>: {description}</li>
    <li><strong>Published</strong>: {published}</li>
    <li><strong>Updated</strong>: {updated}</li>
    <li><strong>URL</strong>: {url}</li>
    <li><strong>Total Posts</strong>: {posts.totalItems} Posts</li>
    <li><strong>Total Pages</strong>: {pages.totalItems} Pages</li>
    <li><strong>Language</strong>: {locale.language}</li>
</ul>